.mediaViewInfo {
	--web-view-name: AdZmarket;
	--web-view-id: AdZmarket;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: AdZmarket;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#AdZmarket {
	position: absolute;
	width: 1366px;
	height: 768px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: AdZmarket;
	--web-view-id: AdZmarket;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Rectangle_9 {
	fill: rgba(241,243,249,1);
}
.Rectangle_9 {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 728px;
	left: 0px;
	top: 68px;
}
#Rectangle_1 {
	filter: blur(30px);
	fill: rgba(241,243,249,1);
}
.Rectangle_1 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 1384px;
	height: 86px;
	left: 0px;
	top: 0px;
}
#Rectangle_3 {
	fill: transparent;
}
.Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 1160px;
	height: 102px;
	left: 70px;
	top: 68px;
}
#Rectangle_4 {
	fill: rgba(255,255,255,1);
}
.Rectangle_4 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 1190px;
	height: 428px;
	left: 70px;
	top: 170px;
}
#Rectangle_5 {
	fill: rgba(241,243,249,1);
}
.Rectangle_5 {
	position: absolute;
	overflow: visible;
	width: 1160px;
	height: 43px;
	left: 70px;
	top: 723px;
}
#Rectangle_6 {
	fill: rgba(255,255,255,1);
}
.Rectangle_6 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 1190px;
	height: 153px;
	left: 70px;
	top: 584px;
}
#Rectangle_7 {
	fill: rgba(255,255,255,1);
}
.Rectangle_7 {
	position: absolute;
	overflow: visible;
	width: 1060px;
	height: 338px;
	left: 120px;
	top: 200px;
}
#Rectangle_19 {
	fill: rgba(175,172,172,1);
}
.Rectangle_19 {
	position: absolute;
	overflow: visible;
	width: 204px;
	height: 51px;
	left: 769px;
	top: 208px;
}
#Component_3__1 {
	position: absolute;
	width: 194px;
	height: 51px;
	left: 973px;
	top: 208px;
	overflow: visible;
}
#Rectangle_21 {
	fill: rgba(246,14,14,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_21 {
	position: absolute;
	overflow: visible;
	width: 194px;
	height: 51px;
	left: 0px;
	top: 0px;
}
#Rectangle_20 {
	fill: rgba(255,255,255,1);
}
.Rectangle_20 {
	position: absolute;
	overflow: visible;
	width: 1058px;
	height: 288px;
	left: 122px;
	top: 247px;
}
#Channel_Promotion {
	left: 690px;
	top: 21px;
	position: absolute;
	overflow: visible;
	width: 155px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(112,112,112,1);
}
#wmid2 {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 269px;
	top: 21px;
	overflow: visible;
}
#Line_1 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 39px;
	left: 225.5px;
	top: 15.5px;
	transform: matrix(1,0,0,1,0,0);
}
#next {
	transform: matrix(1,0,0,1,371.8964,30.9759) rotate(89deg);
	transform-origin: center;
	position: absolute;
	width: 8.992px;
	height: 15.306px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_1 {
	position: absolute;
	width: 8.992px;
	height: 15.306px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_1 {
	fill: rgba(0,0,0,1);
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 15.461px;
	height: 9.258px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Billing_info {
	left: 908px;
	top: 21px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(112,112,112,1);
}
#My_profile {
	left: 1070px;
	top: 21px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(112,112,112,1);
}
#Logout_ {
	left: 1202px;
	top: 21px;
	position: absolute;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(112,112,112,1);
}
#Rectangle_8 {
	fill: rgba(255,255,255,1);
}
.Rectangle_8 {
	position: absolute;
	overflow: visible;
	width: 1060px;
	height: 109px;
	left: 120px;
	top: 598px;
}
#Ellipse_4 {
	opacity: 0.7;
	fill: rgba(255,255,255,1);
	stroke: rgba(246,14,14,0.647);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_4 {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 926px;
	top: 105px;
}
#Ellipse_2 {
	opacity: 0.7;
	fill: rgba(255,255,255,1);
	stroke: rgba(246,14,14,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_2 {
	position: absolute;
	overflow: visible;
	width: 36px;
	height: 36px;
	left: 385px;
	top: 105px;
}
#Line_2 {
	fill: transparent;
	stroke: rgba(0,0,0,0.588);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_2 {
	overflow: visible;
	position: absolute;
	width: 221px;
	height: 4px;
	left: 416.5px;
	top: 119.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_3 {
	fill: transparent;
	stroke: rgba(0,0,0,0.588);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_3 {
	overflow: visible;
	position: absolute;
	width: 262px;
	height: 4px;
	left: 664.5px;
	top: 119.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_3 {
	opacity: 0.7;
	fill: rgba(255,255,255,1);
	stroke: rgba(246,14,14,0.651);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_3 {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 637px;
	top: 105px;
}
#Subscribers_and_Views {
	left: 308px;
	top: 137px;
	position: absolute;
	overflow: visible;
	width: 177px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(58,58,58,1);
}
#Audience_and_Intrests {
	left: 563px;
	top: 137px;
	position: absolute;
	overflow: visible;
	width: 173px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,0.588);
}
#Payment_Method {
	left: 872px;
	top: 137px;
	position: absolute;
	overflow: visible;
	width: 137px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,0.588);
}
#Line_4 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_4 {
	overflow: visible;
	position: absolute;
	width: 1059px;
	height: 1px;
	left: 120.5px;
	top: 246.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Please_add_your_budget_to_see_ {
	left: 121px;
	top: 266px;
	position: absolute;
	overflow: visible;
	width: 358px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,0.659);
}
#Week_Budget {
	left: 120px;
	top: 344px;
	position: absolute;
	overflow: visible;
	width: 131px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(0,0,0,0.631);
}
#Rectangle_11 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_11 {
	position: absolute;
	overflow: visible;
	width: 135px;
	height: 39px;
	left: 289px;
	top: 339px;
}
#Rectangle_14 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_14 {
	position: absolute;
	overflow: visible;
	width: 176px;
	height: 39px;
	left: 278px;
	top: 601px;
}
#Rectangle_16 {
	fill: rgba(246,14,14,1);
}
.Rectangle_16 {
	position: absolute;
	overflow: visible;
	width: 128px;
	height: 33px;
	left: 586px;
	top: 723px;
}
#Rectangle_15 {
	fill: rgba(96,96,96,0.4);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_15 {
	position: absolute;
	overflow: visible;
	width: 64px;
	height: 39px;
	left: 454px;
	top: 601px;
}
#Rectangle_13 {
	fill: rgba(246,14,14,1);
}
.Rectangle_13 {
	position: absolute;
	overflow: visible;
	width: 240px;
	height: 90px;
	left: 507px;
	top: 299px;
}
#Rectangle_12 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_12 {
	position: absolute;
	overflow: visible;
	width: 627px;
	height: 17px;
	left: 120px;
	top: 405px;
}
#Line_5 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_5 {
	overflow: visible;
	position: absolute;
	width: 51px;
	height: 4px;
	left: 135.5px;
	top: 413.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_6 {
	fill: rgba(255,255,255,1);
	stroke: rgba(246,14,14,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_6 {
	position: absolute;
	overflow: visible;
	width: 26px;
	height: 26px;
	left: 168px;
	top: 400px;
}
#Channel_Promotion_has_a_cumula {
	left: 150px;
	top: 468px;
	position: absolute;
	overflow: visible;
	width: 560px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,0.58);
}
#Enter_promo_code {
	left: 295px;
	top: 607px;
	position: absolute;
	overflow: visible;
	width: 144px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(197,197,197,1);
}
#Apply {
	left: 463px;
	top: 608px;
	position: absolute;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#_promo_code {
	left: 149px;
	top: 610px;
	position: absolute;
	overflow: visible;
	width: 108px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Next_bp {
	left: 627px;
	top: 723px;
	position: absolute;
	overflow: visible;
	width: 44px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(255,255,255,1);
}
#ID500 {
	left: 308px;
	top: 346px;
	position: absolute;
	overflow: visible;
	width: 40px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#ID1500 {
	left: 627px;
	top: 325px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(241,243,249,1);
}
#Views_per_week {
	left: 601px;
	top: 346px;
	position: absolute;
	overflow: visible;
	width: 123px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(241,243,249,1);
}
#Rectangle_17 {
	fill: rgba(241,243,249,1);
}
.Rectangle_17 {
	position: absolute;
	overflow: visible;
	width: 1160px;
	height: 44px;
	left: 70px;
	top: 663px;
}
#Line_7 {
	fill: transparent;
	stroke: rgba(246,14,14,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_7 {
	overflow: visible;
	position: absolute;
	width: 156px;
	height: 2px;
	left: 690.5px;
	top: 68.5px;
	transform: matrix(1,0,0,1,0,0);
}
#logout {
	position: absolute;
	width: 16.053px;
	height: 16px;
	left: 1267.947px;
	top: 26px;
	overflow: visible;
}
#Group_3 {
	position: absolute;
	width: 8.667px;
	height: 16px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_2 {
	position: absolute;
	width: 8.667px;
	height: 16px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_2 {
	fill: rgba(112,112,112,1);
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 8.667px;
	height: 16px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_5 {
	position: absolute;
	width: 10.72px;
	height: 9.333px;
	left: 5.333px;
	top: 3.333px;
	overflow: visible;
}
#Group_4 {
	position: absolute;
	width: 10.72px;
	height: 9.333px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_3 {
	fill: rgba(112,112,112,1);
}
.Path_3 {
	overflow: visible;
	position: absolute;
	width: 10.72px;
	height: 9.333px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#warning {
	position: absolute;
	width: 14.628px;
	height: 14.628px;
	left: 122.372px;
	top: 473px;
	overflow: visible;
}
#Group_7 {
	position: absolute;
	width: 14.628px;
	height: 14.628px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_6 {
	position: absolute;
	width: 14.628px;
	height: 14.628px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4 {
	fill: rgba(112,112,112,1);
}
.Path_4 {
	overflow: visible;
	position: absolute;
	width: 14.628px;
	height: 14.628px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_9 {
	position: absolute;
	width: 1.143px;
	height: 4.822px;
	left: 6.742px;
	top: 3.682px;
	overflow: visible;
}
#Group_8 {
	position: absolute;
	width: 1.143px;
	height: 4.822px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_5 {
	fill: rgba(112,112,112,1);
}
.Path_5 {
	overflow: visible;
	position: absolute;
	width: 1.143px;
	height: 4.822px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_11 {
	position: absolute;
	width: 1.543px;
	height: 1.543px;
	left: 6.542px;
	top: 9.204px;
	overflow: visible;
}
#Group_10 {
	position: absolute;
	width: 1.543px;
	height: 1.543px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Ellipse_7 {
	fill: rgba(112,112,112,1);
}
.Ellipse_7 {
	position: absolute;
	overflow: visible;
	width: 1.543px;
	height: 1.543px;
	left: 0px;
	top: 0px;
}
#percent {
	position: absolute;
	width: 16.889px;
	height: 16.889px;
	left: 120.779px;
	top: 616px;
	overflow: visible;
}
#Group_13 {
	position: absolute;
	width: 16.889px;
	height: 16.889px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_12 {
	position: absolute;
	width: 16.889px;
	height: 16.889px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_6 {
	fill: rgba(246,14,14,1);
}
.Path_6 {
	overflow: visible;
	position: absolute;
	width: 16.889px;
	height: 16.889px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_7 {
	fill: rgba(246,14,14,1);
}
.Path_7 {
	overflow: visible;
	position: absolute;
	width: 4.886px;
	height: 7.917px;
	left: 6.063px;
	top: 4.486px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_8 {
	fill: rgba(246,14,14,1);
}
.Path_8 {
	overflow: visible;
	position: absolute;
	width: 3.299px;
	height: 3.299px;
	left: 4.057px;
	top: 4.486px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9 {
	fill: rgba(246,14,14,1);
}
.Path_9 {
	overflow: visible;
	position: absolute;
	width: 3.299px;
	height: 3.299px;
	left: 9.5px;
	top: 9.104px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_18 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_18 {
	position: absolute;
	overflow: visible;
	width: 480px;
	height: 26px;
	left: 121px;
	top: 200px;
}
#Banner_Ads_Discovery {
	left: 778px;
	top: 218px;
	position: absolute;
	overflow: visible;
	width: 185px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Skip_Ads_In-stream________ {
	left: 991px;
	top: 219px;
	position: absolute;
	overflow: visible;
	width: 201px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(241,243,249,1);
}
#httpswwwyoutubecomwatchvgZ9nPm {
	left: 143px;
	top: 204px;
	position: absolute;
	overflow: visible;
	width: 314px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,0.322);
}
#new1_BW {
	position: absolute;
	width: 209px;
	height: 45px;
	left: -1px;
	top: 13px;
	overflow: visible;
}
#WMiD {
	left: 309px;
	top: 24px;
	position: absolute;
	overflow: visible;
	width: 51px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Group_22 {
	position: absolute;
	width: 411px;
	height: 248px;
	left: 769px;
	top: 274px;
	overflow: visible;
}
#Group_17 {
	position: absolute;
	width: 411px;
	height: 248px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_22 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_22 {
	position: absolute;
	overflow: visible;
	width: 411px;
	height: 248px;
	left: 0px;
	top: 0px;
}
#Line_8 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_8 {
	overflow: visible;
	position: absolute;
	width: 11.582px;
	height: 1px;
	left: 12.5px;
	top: 12.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_9 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_9 {
	overflow: visible;
	position: absolute;
	width: 11.582px;
	height: 1px;
	left: 12.5px;
	top: 17.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_10 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_10 {
	overflow: visible;
	position: absolute;
	width: 11.582px;
	height: 1px;
	left: 12.5px;
	top: 22.5px;
	transform: matrix(1,0,0,1,0,0);
}
#youtube {
	fill: rgba(246,14,14,1);
}
.youtube {
	overflow: visible;
	position: absolute;
	width: 17.139px;
	height: 12px;
	left: 43.86px;
	top: 11px;
	transform: matrix(1,0,0,1,0,0);
}
#YOUTUBE_cw {
	left: 64px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 51px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(0,0,0,1);
}
#Group_18 {
	position: absolute;
	width: 410px;
	height: 201.5px;
	left: 0.5px;
	top: 32.5px;
	overflow: visible;
}
#Line_11 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_11 {
	filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 440px;
	height: 31px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_23 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_23 {
	position: absolute;
	overflow: visible;
	width: 246px;
	height: 184px;
	left: 11.5px;
	top: 17.5px;
}
#Rectangle_25 {
	fill: rgba(112,112,112,1);
}
.Rectangle_25 {
	position: absolute;
	overflow: visible;
	width: 246px;
	height: 97px;
	left: 11.5px;
	top: 17.5px;
}
#Line_12 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_12 {
	overflow: visible;
	position: absolute;
	width: 245px;
	height: 1px;
	left: 12px;
	top: 186px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_26 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_26 {
	position: absolute;
	overflow: visible;
	width: 176px;
	height: 12px;
	left: 23.5px;
	top: 132.5px;
}
#Rectangle_27 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_27 {
	position: absolute;
	overflow: visible;
	width: 69px;
	height: 5px;
	left: 56.5px;
	top: 155.5px;
}
#Rectangle_28 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_28 {
	position: absolute;
	overflow: visible;
	width: 69px;
	height: 5px;
	left: 56.5px;
	top: 164.5px;
}
#Ellipse_8 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_8 {
	position: absolute;
	overflow: visible;
	width: 25px;
	height: 25px;
	left: 23.5px;
	top: 150.5px;
}
#Rectangle_24 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_24 {
	position: absolute;
	overflow: visible;
	width: 142px;
	height: 184px;
	left: 258px;
	top: 50px;
}
#Group_20 {
	position: absolute;
	width: 132px;
	height: 170px;
	left: 266px;
	top: 64px;
	overflow: visible;
}
#Rectangle_29 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_29 {
	position: absolute;
	overflow: visible;
	width: 75px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Rectangle_31 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_31 {
	position: absolute;
	overflow: visible;
	width: 75px;
	height: 30px;
	left: 0px;
	top: 74px;
}
#Rectangle_32 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_32 {
	position: absolute;
	overflow: visible;
	width: 75px;
	height: 30px;
	left: 0px;
	top: 111px;
}
#Rectangle_33 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_33 {
	position: absolute;
	overflow: visible;
	width: 75px;
	height: 24px;
	left: 1px;
	top: 146px;
}
#Rectangle_30 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_30 {
	position: absolute;
	overflow: visible;
	width: 75px;
	height: 30px;
	left: 0px;
	top: 37px;
}
#AdZ_Market {
	left: 81px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 8px;
	color: rgba(112,112,112,1);
}
#ID10k_views {
	left: 88px;
	top: 12px;
	position: absolute;
	overflow: visible;
	width: 26px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 6px;
	color: rgba(112,112,112,1);
}
#Rectangle_38 {
	fill: rgba(255,213,0,0.78);
}
.Rectangle_38 {
	position: absolute;
	overflow: visible;
	width: 18px;
	height: 9px;
	left: 91px;
	top: 21px;
}
#Ads {
	left: 95px;
	top: 22px;
	position: absolute;
	overflow: visible;
	width: 11px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 6px;
	color: rgba(112,112,112,1);
}
#Group_19 {
	position: absolute;
	width: 54px;
	height: 21px;
	left: 78px;
	top: 149px;
	overflow: visible;
}
#Rectangle_34 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_34 {
	position: absolute;
	overflow: visible;
	width: 54px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Rectangle_36 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_36 {
	position: absolute;
	overflow: visible;
	width: 48px;
	height: 4px;
	left: 0px;
	top: 12px;
}
#Rectangle_35 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_35 {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 4px;
	left: 0px;
	top: 6px;
}
#Rectangle_37 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_37 {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 3px;
	left: 0px;
	top: 18px;
}
#Group_16 {
	position: absolute;
	width: 54px;
	height: 22px;
	left: 78px;
	top: 114px;
	overflow: visible;
}
#Rectangle_34_dn {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_34_dn {
	position: absolute;
	overflow: visible;
	width: 54px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Rectangle_36_do {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_36_do {
	position: absolute;
	overflow: visible;
	width: 54px;
	height: 4px;
	left: 0px;
	top: 12px;
}
#Rectangle_35_dp {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_35_dp {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 4px;
	left: 0px;
	top: 6px;
}
#Rectangle_37_dq {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_37_dq {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 4px;
	left: 0px;
	top: 18px;
}
#Group_15 {
	position: absolute;
	width: 54px;
	height: 22px;
	left: 78px;
	top: 79px;
	overflow: visible;
}
#Rectangle_34_ds {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_34_ds {
	position: absolute;
	overflow: visible;
	width: 54px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Rectangle_36_dt {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_36_dt {
	position: absolute;
	overflow: visible;
	width: 54px;
	height: 4px;
	left: 0px;
	top: 12px;
}
#Rectangle_35_du {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_35_du {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 4px;
	left: 0px;
	top: 6px;
}
#Rectangle_37_dv {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_37_dv {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 4px;
	left: 0px;
	top: 18px;
}
#Group_14 {
	position: absolute;
	width: 54px;
	height: 22px;
	left: 78px;
	top: 41px;
	overflow: visible;
}
#Rectangle_34_dx {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_34_dx {
	position: absolute;
	overflow: visible;
	width: 54px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Rectangle_36_dy {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_36_dy {
	position: absolute;
	overflow: visible;
	width: 54px;
	height: 4px;
	left: 0px;
	top: 12px;
}
#Rectangle_35_dz {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_35_dz {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 4px;
	left: 0px;
	top: 6px;
}
#Rectangle_37_d {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_37_d {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 4px;
	left: 0px;
	top: 18px;
}